<main>
    <div class="landing">
        <div class="content">
            <p>Build Your Dream Career With Our</p>
            <p>Top Class Management And Teachers</p>
            <button>Explore Our Programs</button>
            <input type="text" placeholder="Search for Programs  🔍">
        </div>
        <div class="overlay" ></div>
        <img class="mainIMG" src="assets/images/confident-teacher-explaining-lesson-pupils.jpg" alt="">
    </div>
    <div class="section" >
        <p class="heading">The Learnova Institute Advantage</p>
        <p class="subHeading">With our Tuition & Coaching, you get the best of both worlds- the comfort & flexibility of offline education, with the equivalence that is acquired through an on-campus, conventional Way of teaching.</p>
        <div class="content2">
            <ul>
                <li>Daily LIVE Classes by Faculty of National Repute</li>
                <li>Personalized Mentorship By Top Subject Leaders</li>
                <li>Weekly test series </li>
                <li>Special batch for weak students</li>
                <li>Full Study Material Provided</li>
                <li>Well Experienced teacher</li>
                <li>Special Batches for IIT-JEE, NEET and other Entrance exams.</li>
            </ul>
            <img src="assets/images/studyPlan.png" alt="">
        </div>
    </div>
    <div class="section">
        <p class="heading">Getting Started</p>
        <p class="subHeading" >Your success is our success. Following these steps can help make your application experience simple and straight forward.</p>
        <app-timeline></app-timeline>
    </div>
    <div class="section">
        <p class="heading">More About Acvision, CEO Founder & Co-Founders</p>
        <app-myteam></app-myteam>
    </div>
</main>

